<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500&family=Onest:wght@300&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="css/auth.css">
</head>

<body>
    <div class="loader"></div>
    <div id="mainContent" style="display: none;">
        <header>
            <nav>
                <a href="/">
                    <h1>Welcome to
                        KFUPM CourseCraft</h1>
                </a>
            </nav>
        </header>
        <div id="errorMessage" class="error-message" style="display: none;"></div>

        <div class="center-container-login">
            <div class="login-flex-container">
                <div class="login-container">
                    <h2>Login</h2>
                    <form id="loginForm">
                        <div class="input-icon-container">
                            <i class="fa fa-id-card icon input-icon"></i>
                            <input type="text" name="kfupmId" class="form-control input-field" placeholder="KFUPM ID"
                                required pattern="20\d{7}" minlength="9" maxlength="9"
                                title="KFUPM ID must be 9 digits long and start with '20'">
                        </div>
                        <div class="input-icon-container">
                            <i class="fa fa-lock icon input-icon"></i>
                            <input type="password" name="password" id="password" class="form-control input-field"
                                placeholder="Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                title="Must contain at least one number, one uppercase letter, one lowercase letter, and at least 8 or more characters">
                            <i class="fa fa-eye-slash toggle-password"
                                onclick="togglePasswordVisibility('password')"></i>
                        </div>
                        <div class="checkbox-container">
                            <label>
                                <input type="checkbox">
                                Remember me
                            </label>
                            <a href="forgotPage.html" class="forgot-password">Forgot
                                password?</a>
                        </div>
                        <button type="submit" class="login-btn">LOGIN</button>
                    </form>
                    <div class="account-action">
                        <span>Don't have an account?</span>
                        <a href="/signup">Create</a>
                    </div>
                </div>
                <div class="login-image-container">
                    <img src="assets/Login.avif" alt="Login Image">
                </div>
            </div>
        </div>
    </div>
    <script src="js/auth.js" defer></script>
    <script src="js/login.js" defer></script>

</body>

</html>