<html lang="en">
    <head>
        <!-- Meta tags -->
        <meta charset="utf-8" />
        <meta
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
            name="viewport" />
        <!-- Other links -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500&family=Onest:wght@300&display=swap"
            rel="stylesheet" />
        <!-- CSS links -->
        <link href="css/style.css" rel="stylesheet" />
        
        <style>
            h2 {
                margin-left: 20px;
            }

            a{
                color: #538e10;
            }
        </style>
    </head>
    <body>
        <header>

            <h1><a href="home.html">KFUPM CourseCraft</a></h1>

            <nav>
                <ul>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="schedule.html">Schedule</a></li>
                    <li><a class="active" href="#resources">Resources</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="signup.html">Sign Up</a></li>
                </ul>
                <!-- <button id="login">Login</button>
                <button id="signup">Sign Up</button> -->
            </nav>

        </header>

        <div style="margin-bottom: 30px;">
            <h1 style="display: inline;">Resources</h1>
            <a href="resourceAddingForm.html" style="margin-left: 50px;">Add a new file</a>
        </div>
        

        <footer>
            <p>&copy; 2023 KFUPM CourseCraft</p>
        </footer>
    </body>
</html>