<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta tags -->
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
  <!-- Other links -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500&family=Onest:wght@300&display=swap"
    rel="stylesheet" />
  <!-- CSS links -->
  <link href="css/style.css" rel="stylesheet" />
</head>

<body>
  <!--Navigation Header-->
  <header>

    <h1><a href="/">KFUPM CourseCraft</a></h1>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="#Schedule">Schedule</a></li>
        <li><a href="/resourcesMainPage">Resources</a></li>
        <% if (allCourses.user) { %>
          <!-- Content to display if the user is logged in -->
          <li><a href="/profile">Profile</a></li>
          <li><a href="/logout">Log Out</a></li>
          <% } else { %>
            <!-- Content to display if the user is not logged in -->
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign up</a></li>
            <% } %>
      </ul>
    </nav>

  </header>

  <div class="left-box">
    <h4>Select Level</h4>
    <select id="level-select">
      <option value="level1">Freshman</option>
      <option value="level2">Sophmore</option>
      <option value="level3">Junior</option>
      <option value="level4">Senior</option>
    </select>

    
    
    <h3>Select your courses:</h3>
    <div id="course-container">
        <% allCourses.courses.forEach(item => { %>
            <div class="course-box" draggable="true" data-course="<%= item.shortcut %>"><%= item.shortcut %></div>
        <% }); %>
    </div>
    
    </div>
  </div>

  <!--Plan Tilte-->
  <div>
    <h1 style="text-align: center;">Plan Your Semesters</h1>
    <h2 style="text-align: center;">SWE Major</h2>
    <h3 style="text-align: center;">Plan <span>x</span></h3>
  </div>

  <!--Plan-->
  
  <div id="term-container" class="term-scroll-container">
    <div class="term-container" id="term1" ondragover="allowDrop(event)"  ondrop="drop(event)">
        <!-- Term content goes here -->
        Term 231
        <hr>
    </div>
    <div class="add-button" onclick="addTerm()">+</div>
  </div>
  
  

  <footer>
    <p>&copy; 2023 KFUPM CourseCraft</p>
  </footer>

  <script src="js/script.js" defer></script>
</body>

</html>