body {
    background-image: linear-gradient(to right, #65CCB8, #579aa5);
    font-family: 'Onest', sans-serif;
    margin: 0;
}

header {
    width: 100%;
    color: #ECCECE;
    background-color: #182628;
    padding: 1em 0;
    text-align: center;
    border-bottom: 5px solid #86C323;
}

h1 {
    font-size: 40px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.6s ease;
    padding: 5px 10px;
}

nav a:hover {
    color: #5cb85c;
    text-decoration: none;
    transition: color 0.6s ease;
    padding: 5px 10px;
}

.input-icon-container.password-input {
    margin-bottom: 10px;
}

#passwordHint {
    color: #6c757d;
    font-size: 0.875em;
    font-style: italic;
}

.input-icon-container.confirm-password-input {
    margin-top: 100px;
}


.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    color: #333;
    text-align: center;
}

.form-control {
    margin-bottom: 35px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ccc;
    display: block;
    width: 100%;
    padding-left: 30px;
    font-size: 16px;
    border-radius: 0;
}

.input-icon-container {
    position: relative;
    margin-bottom: 10px;
}

.icon {
    font-size: 16px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    cursor: pointer;
}

.form-control:focus {
    outline: none;
    border-color: #7a57d1;
}

.login-btn {
    background-color: #57BA98;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 20px;
}

.login-btn:hover {
    background-color: #62c449;
}

.checkbox-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.checkbox-container label {
    margin-right: 10px;
}

.checkbox-container .forgot-password {
    margin-left: 10px;
    color: #57BA98;
    text-decoration: none;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
    transform: scale(0.8);
}

.checkbox-container a {
    color: #57BA98;
    text-decoration: none;
}

.account-action {
    text-align: center;
    margin-top: 20px;
}

.account-action span {
    color: #333;
    margin-right: 5px;
}

.account-action a {
    color: #57BA98;
    text-decoration: none;
}

.error-message {
    color: red;
    background-color: #ffecec;
    border: 1px solid red;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}