* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
    font-family: 'Onest', sans-serif;
    margin: 0;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    --w: 10ch;
    text-align: center;
    font-weight: bold;
    font-family: 'Onest', sans-serif;
    font-size: 30px;
    line-height: 1.4em;
    letter-spacing: var(--w);
    width: var(--w);
    overflow: hidden;
    white-space: nowrap;
    color: #0000;
    text-shadow:
        calc(0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000,
        calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000;
    animation: l20 2s infinite linear;
}

.loader:before {
    content: "KFUPM CC...";
}

@keyframes l20 {
    9.09% {
        text-shadow:
            calc(0*var(--w)) -10px #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000,
            calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000
    }

    18.18% {
        text-shadow:
            calc(0*var(--w)) 0 #000, calc(-1*var(--w)) -10px #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000,
            calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000
    }

    27.27% {
        text-shadow:
            calc(0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) -10px #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000,
            calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000
    }

    36.36% {
        text-shadow:
            calc(0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) -10px #000, calc(-4*var(--w)) 0 #000,
            calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000
    }

    45.45% {
        text-shadow:
            calc(0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) -10px #000,
            calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000
    }

    54.54% {
        text-shadow:
            calc(0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000,
            calc(-5*var(--w)) -10px #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000
    }

    63.63% {
        text-shadow:
            calc(0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000,
            calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) -10px #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000
    }

    72.72% {
        text-shadow:
            calc(0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000,
            calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) -10px #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000
    }

    81.81% {
        text-shadow:
            calc(0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000,
            calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) -10px #000, calc(-9*var(--w)) 0 #000
    }

    90.90% {
        text-shadow:
            calc(0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000,
            calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) -10px #000
    }
}

header {
    width: 100%;
    color: #ECCECE;
    background-color: #182628;
    padding: 1em 0;
    text-align: center;
    border-bottom: 5px solid #86C323;
}

h1 {
    font-size: 40px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.6s ease;
    padding: 5px 10px;
}

nav a:hover {
    color: #5cb85c;
    text-decoration: none;
    transition: color 0.6s ease;
    padding: 5px 10px;
}

.input-icon-container.password-input {
    margin-bottom: 10px;
}

.input-icon-container.confirm-password-input {
    margin-top: 100px;
}

.center-container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.center-container-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 135vh;
}

.login-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    color: #333;
    text-align: center;
}

.login-image-container {
    margin-left: 10px;
}

.login-image-container img {
    border-radius: 10px;
    width: 400px;
    height: 390px;
}

.signup-image-container img {
    width: 300px;
    height: auto;
}

.form-control {
    margin-bottom: 35px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ccc;
    display: block;
    width: 100%;
    padding-left: 30px;
    font-size: 16px;
    border-radius: 0;
}

.input-icon-container {
    position: relative;
    margin-bottom: 10px;
}

.icon {
    font-size: 16px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    cursor: pointer;
}

.form-control:focus {
    outline: none;
    border-color: #7a57d1;
}

.login-btn {
    background-image: linear-gradient(to right, #43C6AC 0%, #F8FFAE 51%, #43C6AC 100%);
    background-size: 200% auto;
    color: white;
    border: none;
    padding: 15px 45px;
    /* Adjusted to incorporate both padding styles */
    font-size: 16px;
    border-radius: 10px;
    /* Rounded as per second style */
    cursor: pointer;
    display: block;
    width: 100%;
    margin: 10px auto;
    /* Centered with auto margins */
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    box-shadow: 0 0 20px #eee;
    margin-top: 20px;
    /* Additional top margin */
}


.login-btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.checkbox-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.checkbox-container label {
    margin-right: 10px;
}

.checkbox-container .forgot-password {
    margin-left: 10px;
    color: #57BA98;
    text-decoration: none;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
    transform: scale(0.8);
}

.checkbox-container a {
    color: #57BA98;
    text-decoration: none;
}

.account-action {
    text-align: center;
    margin-top: 20px;
}

.account-action span {
    color: #333;
    margin-right: 5px;
}

.account-action a {
    color: #57BA98;
    text-decoration: none;
}

.error-message {
    color: red;
    background-color: #ffecec;
    border: 1px solid red;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
}

/* New styles for radio button layout */
.fieldset {
    border: none;
    margin: 10px 0;
}

.radio-option {
    margin-bottom: 10px;
}

.radio-option input[type='radio'] {
    margin-right: 5px;
}

legend {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.input-icon-container p {
    margin-bottom: 5px;
    color: #333;
}

.input-icon-container input[type="radio"] {
    margin-left: 10px;
    margin-right: 10px;
}

.center-container-signup {
    height: auto;
    padding-bottom: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .login-flex-container {
        flex-direction: column;
        /* Stack elements vertically */
    }

    .login-container,
    .login-image-container {
        width: 100%;
        /* Full width on smaller screens */
        margin: 0;
        /* Adjust margin as needed */
    }

    .input-field,
    .login-btn {
        font-size: 14px;
        /* Smaller font size for smaller screens */
    }

    /* Adjust image container or hide image on very small screens */
    .login-image-container {
        display: none;
        /* Optionally hide the image on small screens */
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}