body {
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    font-family: 'Onest', sans-serif;
    margin: 0;
}

header {
    color: #ECCECE;
    background-color: #182628;
    padding: 1em 0;
    text-align: center;
    border-bottom: 5px solid #86C323;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

h1 a {
    text-decoration: none;
    color: #F2F2F2;
    transition: color 0.6s ease;
    padding: 5px 10px;
}

h1 a:hover {
    color: #86C323;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: inline-block;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.6s ease;
    padding: 5px 10px;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #86C323;
    background-color: #1D3835;
    border-radius: 5px;
    padding: 7px 12px;
}

.active {
    color: #86C323;
    background-color: #254E50;
    border-radius: 5px;
    padding: 7px 12px;
}

.headerText {
    color: white;
    text-align: center;
    margin-top: 30px;
}

.paraText {
    padding: 20px;
    text-align: justify;
    margin: 0 15px;
}

#hero h2,
#hero p {
    overflow: hidden;
    border-right: .15em solid linear-gradient(to right, #65CCB8, #579aa5);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(30, end) forwards, blink-caret .75s step-end forwards;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: linear-gradient(to right, #65CCB8, #579aa5);
    }
}

#hero h2 {
    animation: typing 3.5s steps(30, end) forwards,
        blink-caret .75s step-end forwards;
}

#hero p {
    animation: typing 5s steps(50, end) forwards,
        blink-caret .75s step-end 5s forwards;
    animation-delay: 3.5s;
    /* Delay so it starts after the h2 */
}

strong a {
    text-decoration: none;
    color: #A5EDD4;
}

strong {
    color: rgb(14, 139, 158);
}

button {
    background-color: #182628;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #254E50;
    color: #ECCECE;
}

#hero {
    color: white;
    text-align: center;
    padding: 50px 0;
    font-size: 2em;
}

footer {
    background-color: #182628;
    color: white;
    text-align: center;
    padding: 20px;
    border-top: 5px solid #86C323;
}

a {
    scroll-behavior: smooth;
}

button {
    border-radius: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

button:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

/* Responsive nav menu */
@media (max-width: 768px) {
    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

.profileDiv {
    text-align: center;
}

.profileDiv img {
    border-radius: 50%;
    height: 200px;
}

.profile {
    text-align: center;
    font-size: 50px;
    margin-bottom: 5px;
}

input {
    background: white;
    border-radius: 20px;
    border: 3px solid #40ab96;
    color: #6b6e70;
    width: 35%;
    height: 70px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

.labelDiv {
    position: relative;
    left: 33%;
    text-align: left;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#password {
    background-image: url("../assets/visible.png");
    background-position: 97% center;
    background-repeat: no-repeat;
}

#password.visible {
    background-image: url("../assets/invisible.png");
}

#toggle-password {
    display: none;
}

#toggle-password+label {
    text-indent: -9999px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: -32px;
    cursor: pointer;
}

.centered-input {
    text-align: center;
}